<footer class="page-footer {{ SITECSS }} darken-2">
    <div class="container">
        <div class="row">

            <div class="col l3 m6 s12">
                <h5 class="white-text">social-links</h5>
                <ul>
                  {% for title, link in SOCIAL %}
                    <li><a class="grey-text text-lighten-3" href="{{link}}" target="_blank"><i class="mdi-social-person-add"></i> title </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

            <div class="col l3 m6 s12">
            <h5 class="white-text">About Me</h5>
            <p class="grey-text text-lighten-4">{{DESCRIPTION}}</p>
            </div>

            <div class="col l3 m6 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li>{{PHONENUMBER}}</li>
                    <li><a href="http://voidspace.xyz/about/2015/01/15/about-me/"> Contact Page </li>
                </ul>
            </div>


            <div class="col l3 m6 s12">
                <h5 class="white-text">{{AUTHOR}}</h5>
                <p class="white-text text-lighten-4">
                  <address id="about" class="white-text">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
              </p>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 {{AUTHOR}}
            <a class="grey-text text-lighten-4 right" href="{{SITEURL}}" target="_blank">{{SITENAME}}</a>
        </div>
    </div>
</footer>


<footer id="contentinfo" class="body">

   </footer><!-- /#contentinfo -->
